<div class="ui segment h100">
    <div class="ui grid center aligned h100">
        <div class="row h30">
            <div class="column">
                <div class="ui right floated labeled input">
                    <div class="ui label">
                        Url
                    </div>
                    <input type="text" ng-model="url" placeholder="" value="tcp://verifiche.ddns.net:6000">
                </div>
                <button class="ui labeled icon black button" ng-click="Connect(url)"><i class="terminal icon"></i>Connect</button>
                <br>
                <br>
                <div class="ui right floated labeled input">
                <div class="ui label">
                        Cmd
                    </div>                                     
                    <input type="text" ng-model="cmd" placeholder="" value="su">
                </div>               
                <button class="ui labeled icon black button" ng-click="Send(cmd)"><i class="terminal icon"></i>Send</button>
                
            </div>
        </div>        
    </div>
</div>